<div class="row">
	<% if @item%>
	<%setter 4%>
	<%@silver = @item.select { |silver| silver.price_detail.id ==getter }
                  
%>
					<%@silver.each do|s|%>
					
					<%end%>
	<% @item.each do |item|%>
	<div class="col-md-4">
		<div  class="iteam-grid text-center">
			<a href="/mjweller/detail?id=<%=item.id%>"><img src="<%= item.image_url(:thumb)%>"  class="animated" title="name"  style="width: 200px;height: 200px" /></a>
			<span><%=item.category_detail.category%> <%=item.price_detail.name%> </span>

			<label>price:<%=item.price_detail.price*item.weight%></label>
			<ul>
				<li>
					<a class="cart" href="#"><i>wt:<%=item.weight%> in gm</i></a>
				</li>
				<li>
					<a class="more" href="#" style="width:140px; ">More</a>
				</li>
				
			</ul>
		</div>
	</div>

	<%end%> <div class="clearfix"></div>
	<%end%>
</div>

