<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="panel panel-default">

				<div class="panel-heading">
					<%if error%>

					<div class="error" >
						<ul>
							<% error.each do |message| %>
							<li>
								<%= message %>
							</li>
							<% end %>
							<span style="color: green"><%= sussces%></span></li>

						</ul>

					</div>

					<%end%>
					<%if sussces%>

					<div class="sussces" >
						<ul>

							<span style="color: green"><%= sussces%></span></li>

						</ul>

					</div>

					<%end%>

					<div class="panel-title">
						Add item
					</div>

				</div>

				<div class="panel-body">

					<div class="col-md-8">
						<form action="/mjweller/add_detail" method="post" role="form" enctype="multipart/form-data">
							<div class="form-group">
								<label for="first_name">Item Name</label>
								<div class="input-group">
									<input type="text" class="form-control" id="first_name" name="itemdata[name]" placeholder="Item  Name" required="">
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
								<label for="last_name">Description</label>
								<div class="input-group">
									<input type="text" class="form-control" id="last_name" name="itemdata[description]" placeholder=" Description" required autocomplete="true">
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
								<label for="mobile">Weight in gm</label>
								<div class="input-group">
									<input type="number" class="form-control" id="weight" name="itemdata[weight]" placeholder=" Weight" min=".01" step=".01" required autocomplete="off">
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
								
								<label for="class">Category</label>
								<div class="input-group">
								    
									<select name="itemdata[price_detail_id]" id="class" class="form-control">
										<%@price.each do |price|%>
										<option value="<%=price.id%>"><%=price.name%></option>
										 <%end%>

									</select>
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
								<label for="class">SubCategory</label>
								<div class="input-group">
									<select name="itemdata[category_detail_id]" id="class" class="form-control">
										<%@subcategory.each do |category|%>
										<option value="<%=category.id%>"><%=category.category%></option>
										 <%end%>

									</select>
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
								<div class="form-group">
									<label for="first_name">Quantity</label>
									<div class="input-group">
										<input type="number" class="form-control" id="quantity" name="itemdata[quantity]" placeholder="Quantity" min="1" value="" required="">
										<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
									</div>
								</div>

								<div class="form-group">
									<label for="first_name">image</label>
									<div class="input-group">
										<input type="file" class="form-control" id="image" name="itemdata[image]"  required="">
										<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
									</div>
								</div>
								<input type="submit" value="add item" class="btn btn-primary"/>
						</form>
					</div>

				</div>
			</div>
			<div class="panel-footer">
				footer
			</div>

		</div>

	</div>
</div>
</div>
