<%if @total%>
<table class="table pretty">
	<tr>
		<th> <%if sussces %> <span style="color: green"><%= sussces%></span> <%end%> </th>
	</tr>
	<tr>
		<th>image</th>
		<th><%= sort_link(@q,:name,"Name") %></th>
		<th><%= sort_link(@q,:description,"Description")%></th>
		<th><%=sort_link(@q, :weight)%></th>
		<th><%= sort_link(@q,:price_detail_id,"category")%></th>
		<th><%= sort_link(@q,:category_detail_id,"Subcategory") %></th>
		<th><%= sort_link(@q,:qantity)%></th>
		<th>Update</th>
		<th>Delete</th>
	</tr>
	<tbody id="tbody">
		<%=render 'total_collection'%>
		
		
	</tbody>
	
	</table>
<%end%>
