<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="panel panel-default">

				<div class="panel-heading">
					<%if error%>

					<div class="error" >
						<ul>
							<% error.each do |message| %>
							<li>
								<%= message %>
							</li>
							<% end %>
							<span style="color: green"><%= sussces%></span></li>

						</ul>

					</div>

					<%end%>
					<%if sussces%>

					<div class="sussces" >
						<ul>

							<span style="color: green"><%= sussces%></span></li>

						</ul>

					</div>

					<%end%>

					<div class="panel-title">
					update item
					</div>

				</div>

				<div class="panel-body">

					<div class="col-md-8">
						<form action="/mjweller/add_update" method="post" role="form" enctype="multipart/form-data">
							<div class="form-group">
								<label for="first_name">Item Name</label>
								<div class="input-group">
								<input type="hidden" value="<%=@update.id%>" name="itemdata[id]"/>
									<input type="text" class="form-control" id="first_name" name="itemdata[name]" placeholder="Item  Name" value="<%=@update.name%>">
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
								<label for="last_name">Description</label>
								<div class="input-group">
									<input type="text" class="form-control" id="last_name" name="itemdata[description]" placeholder=" Description" value="<%=@update.description%>" required autocomplete="true">
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
								<label for="mobile">Weight in gm</label>
								<div class="input-group">
									<input type="text" class="form-control" id="mobile" name="itemdata[weight]" value="<%=@update.weight%>" placeholder=" Weight" required autocomplete="true">
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
							<script>
							$(document).ready(function(){
								
								<% @category.each do |category|%>
								<%if @update.price_detail_id==category.id%>
								
								$("#<%=category.id%>").attr("selected","selected");
								<%end%>
								<%end%>
								});
							</script>
							
							
								<label for="class">Category</label>
								<div class="input-group">
									<select name="itemdata[price_detail_id]" id="class" class="form-control" >
										<% @category.each do |category|%>
										<option id="<%=category.id%>" value="<%=category.id%>"><%=category.name%></option>
										
                                        <%end%>
									</select>
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="form-group">
							<script>
							$(document).ready(function(){
								
								<% @subcategory.each do |subcategory|%>
								<%if @update.category_detail_id==subcategory.id%>
								
								$("#<%=subcategory.id%>").attr("selected","selected");
								<%end%>
								<%end%>
								});
							</script>
							
							
								<label for="class">Sub category</label>
								<div class="input-group">
									<select name="itemdata[category_detail_id]" id="class" class="form-control" >
										<% @subcategory.each do |subcategory|%>
										<option id="<%=subcategory.id%>" value="<%=subcategory.id%>"><%=subcategory.category%></option>
										
                                        <%end%>
									</select>
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							
							
								<div class="form-group">
									<label for="first_name">Quantity</label>
									<div class="input-group">
										<input type="text" class="form-control" id="first_name" name="itemdata[quantity]"  value="<%=@update.quantity%>"/>
										<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
									</div>
								</div>

								<div class="form-group">
									<label for="first_name">change image</label><br />
									<img src="<%=@update.image_url(:thumb)%>" width="50" height="50"/>
									<div class="input-group">
									
										<input type="file" class="form-control" id="first_name" name="itemdata[image]" >
										<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
									</div>
								</div>
								<input type="submit" value="update item" class="btn btn-primary"/>
						</form>
					</div>

				</div>
			</div>
			<div class="panel-footer">
				footer
			</div>

		</div>

	</div>
</div>
</div>
