<!DOCTYPE html>
<html>
	<head>
		<title>Modern Jwellers|<%= yield(:title) %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<script>
			$(document).ready(function() {
				
				$('.animated').hover(function() {
					$(this).toggleClass('pulse');
				});
$(".category_link").click(function(){
	

});
			});
		</script>

		<!----webfonts--->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
		<!---//webfonts--->

		<style>
			.slider .slider-horizontal {
				width: 180px;
			}
			.pagination {
				margin: 0px;
				padding: 0px;
				margin-top: 5px
		
			}
			.error {
				color: red
			}
			.margin {
				margin: 0px;
				padding: 0px;
			}

						.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
				text-decoration: none;
				color: blue;
				background-color: #EEEEEE;
			 font-size: 18px;
			 font-weight: 600;
			}
			.ab:hover{
				color: #fff;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
-transition: 0.3s;
text-shadow: 2px 2px 10px #cc00ff;
				
			}
		</style>
	</head>
	<body >
		<!-- header -->

		<!-- sub-header -->
		<div class="sub-header " >
			<div class="fluid-container margin">
				<!-- top-nav -->

				<nav id="myNavbar" class="navbar  navbar-inverse margin " style="border: 0px;" role="navigation" style="z-index: 100">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand  margin " href="/mjweller/home"  style="padding: 10px"><img src="/logo05.png" /></a>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav " style="padding: 10px">
								<li class="animated ab">
									<a href="/mjweller/home">Home</a>
								</li>
								<li class="dropdown">
									<a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" class="dropdown-toggle animated ab" >Items <b class="caret"></b></a>
									<ul class="dropdown-menu">

										<%sub_data.each do |subcat| %>
										<li >
											<a tabindex="-1" class=" category_link"  id="<%= subcat.id%>" href="/mjweller/collection_new?id=<%= subcat.id%>&type=category_detail_id"><%= subcat.category%></a>
										</li>

										<%end%>
									</ul>
								</li>

								<li class="animated ab">
									<a href="/mjweller/collection_new"  >Collection</a>
								<li class="animated ab"> 
									<a href="/mjweller/about">About</a>
								</li>
								<li class="animated ab">
									<a href="/mjweller/contact">Contact</a>
								</li >
								</li class="animated ab">
							</ul>
							<ul class="nav navbar-nav navbar-right">
                            <%if session[:admin]%>
							<li class="dropdown">
									<a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" class="dropdown-toggle animated" >Admin <b class="caret"></b></a>
									<ul class="dropdown-menu">

										
										<li >
											<a  href="/mjweller/item_detail">Add Item</a>
										</li>
										<li >
											<a  href="/mjweller/total_collection">ItemUpdate</a>
										</li>
										<li >
											<a  href="/mjweller/price">Add Metal</a>
										</li>
										<li >
											<a  href="/mjweller/price_update">Update price</a>
										</li>
										<li >
											<a  href="/mjweller/add_subcategory">Add Category</a>
										</li>

										<li >
											<a href="/users/logout">logout</a>
										</li>
									</ul>
								</li>
						<%else%>
						<li><a href="/users/admin_login">login</a></li>
							<%end%>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</nav>

				<!-- top-nav -->
				<!-- script-for-nav -->
				<script>
					$(document).ready(function() {
						$("span.menu").click(function() {
							$(".top-nav ul").slideToggle(300);
						});
					});
				</script>
				<!-- script-for-nav -->
				<!-- search-form -->

				<div class="clearfix"></div>
				<!-- /search-form -->
			</div>
		</div>
		<!-- /sub-header -->

		</header>

		<%= yield %>
		<footer>
			<div class="footer">
				<div class="footer-grids">
					<div class="container">
						<div class="col-md-3 footer-grid">
							<h4>Services</h4>
							<ul>
								<li>
									<a href="/mjweller/contact">Contact Customer Service</a>
								</li>
								
								<li>
									<a href="#">View your Wishlist</a>
								</li>
								<li>
									<a href="/mjweller/ringsize">Ring Size Guide</a>
								</li>
								<li>
									<a href="#">Returns</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid">
							<h4>Information (FAQ)</h4>
							<ul>
								<li>
									<a href="#">Gift certificates</a>
								</li>
								<li>
									<a href="#">Jewellery care guide</a>
								</li>
								<li>
									<a href="#">International customers</a>
								</li>
								<li>
									<a href="#">Wholesale enquires</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid">
							<h4>More details</h4>
							<ul>
								<li>
									<a href="/mjweller/about">About us</a>
								</li>
								<li>
									<a href="/mjweller/policy">Privacy Policy</a>
								</li>
								<li>
									<a href="/mjweller/term">Terms & COndition</a>
								</li>
								<li>
									<a href="#">Secure payment</a>
								</li>
								<li>
									<a href="#">Site map</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid contact-grid">
							<h4>Contact us</h4>
							<ul>
								<li>
									<span class="c-icon"> </span>name
								</li>
								<li>
									<span class="c-icon1"> </span><a href="#">email</a>
								</li>
								<li>
									<span class="c-icon2"> </span>
								</li>
							</ul>
							<ul class="social-icons">
								<li>
									<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus-square fa-2x"> </i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- news-letter -->

				<!-- news-letter -->
			</div>
			<!-- footer -->
			<!-- copy-right -->

		</footer>

	</body>

</html>
